section#steps.container
    // 1
    .row.min-h-300.pad-lr-100#step-1
        .col-xs-12.col-sm-6.min-h-300
            .box-step-inner
                .box-step-inner-2
                    .steps-item-title!= '<span class="step-circle">1</span> Предварительная консультация'
                    .steps-item-text.max-wid-400
                        p Мы рассказываем об условиях, сроках, применяемых материалах и рассчитываем предварительную стоимость. По вашему желанию согласовываем дату и время выезда замерщика-конструктора для снятия точных размеров и расчета цены на будущую мебель.
        .col-xs-12.col-sm-6
            img.img-responsive.men-img(src="assets/img/step_1.png", alt="")
        .col-xs-12.steps-item-note
            p.topic Как получить консультацию:
            ul._tbl._clear
                li!= 'Позвонив по телефону: <b>+3 097 932 86 19</b>'
                li!= 'Позвонив или написав в Skype: <b>format_mebel</b>'
                li!= 'Заказать <a href="javascript:void(0)" class="js-open" data-href="callform">обратный звонок</a>'
                li!= 'Отправить нам свой проект на почту: <a href="mailto:info@meb-el.ru" class="_blue">info@meb-el.ru</a>'
                li!= 'Позвонив или написав в WhatsApp или Viber: <b>+3 097 932 86 19</b>'
                li!= 'Приехав лично к нам в <a href="#">офис</a>'
    // 2
    .row.min-h-300.box-item-step-padd-odd.pad-lr-100#step-2
        .col-xs-12.col-sm-6.col-sm-push-6.min-h-300
            .box-step-inner.box-step-inner-right
                .box-step-inner-2
                    .steps-item-title!='<span class="step-circle">2</span> Выезд замерщика-конструктора'
                    .steps-item-text.max-wid-400
                        p Замерщик-конструктор приезжает в удобное для вас время с необходимым оборудованием и образцами материалов. При необходимости замерщик разработает предварительный 3D-макет и отправит вам на почту.
        .col-xs-12.col-sm-6.col-sm-pull-6.min-h-300
            .box-step-image.left-step-img
                img.img-responsive(src="assets/img/step_2.png", alt="")
    // 3
    .row.min-h-486.pad-lr-100#step-3
        .col-xs-12.col-md-6.min-h-486
            .box-step-inner.min-h-486
                .box-step-inner-2
                    .steps-item-title!='<span class="step-circle">3</span> Заключение договора и сроки'
                    .steps-item-text.max-wid-400
                        p Когда все детали обговорены, замерщик-конструктор рассчитывает точную стоимость. Затем оформляет договор и замерный лист – всё в двух экземплярах. Вы вносите предоплату в размере 30–50%.
                        p Срок изготовления с момента подписания договора и внесения предоплаты составляет до 10 рабочих дней.
        .col-xs-12.col-md-6.min-h-486.step-img
            .box-step-image.right-step-img.min-h-486
                img(src="assets/img/step_3.png", alt="", style={"right": "-100px"})
    // 4
    .row.min-h-300.box-item-step-padd-odd.pad-lr-100#step-4
        .col-xs-12.col-sm-6.col-sm-push-6.min-h-300
            .box-step-inner.box-step-inner-right
                .box-step-inner-2
                    .steps-item-title!= '<span class="step-circle">4</span> Выезд замерщика-конструктора'
                    .steps-item-text.max-wid-400
                        p Замерщик-конструктор приезжает в удобное для вас время с необходимым оборудованием и образцами материалов. При необходимости замерщик разработает предварительный 3D-макет и отправит вам на почту.
        .col-xs-12.col-sm-6.col-sm-pull-6.min-h-300
            .box-step-image.left-step-img
                img.img-responsive(src="assets/img/step_4.png", alt="")
    // 5
    .row.min-h-300.pad-lr-100#step-5
        .col-xs-12.col-sm-6.min-h-300
            .box-step-inner
                .box-step-inner-2
                    .steps-item-title!= '<span class="step-circle">5</span> Предварительная консультация'
                    .steps-item-text.max-wid-400
                        p Мы рассказываем об условиях, сроках, применяемых материалах и рассчитываем предварительную стоимость. По вашему желанию согласовываем дату и время выезда замерщика-конструктора для снятия точных размеров и расчета цены на будущую мебель.
        .col-xs-12.col-sm-6.min-h-300
            .box-step-image.right-step-img
                img.img-responsive(src="assets/img/step_5.png", alt="")
    // 6
    .row.min-h-300.box-item-step-padd-odd.pad-lr-100#step-6
        .col-xs-12.col-sm-6.col-sm-push-6.min-h-300
            .box-step-inner.box-step-inner-right
                .box-step-inner-2
                    .steps-item-title!= '<span class="step-circle">6</span> Выезд замерщика-конструктора'
                    .steps-item-text.max-wid-400
                        p Замерщик-конструктор приезжает в удобное для вас время с необходимым оборудованием и образцами материалов. При необходимости замерщик разработает предварительный 3D-макет и отправит вам на почту.
        .col-xs-12.col-sm-6.col-sm-pull-6.min-h-300
            .box-step-image.left-step-img
                img.img-responsive(src="assets/img/step_6.png", alt="")